@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem; /* za da ima mesto megu gornite listi */
}
.navbar-nav li {
  padding-right: 50px;
}
.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img { /*za niz cela strana da se poznavat slikata*/
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* koordinaten sistem za na sredina da mi e tekstot*/
}
.carousel-caption h1 { /*za da go zgolemam philosopy i shadow da mu stavam */
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px rgb(247, 4, 4); 
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px  rgb(247, 4, 4);
  padding-bottom: 1rem;
}
.carousel-caption p{
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
  border: dashed 3px rgb(226, 19, 181);
  text-shadow: 1px 1px 15px rgb(226, 19, 181);
}
.wtf {
  font-size: 200%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px rgb(247, 4, 4);
}
.btn-primary {
  background-color: #4d0a0a;
  border: 1px solid rgb(214, 21, 21);
}
.btn-primary:hover {
  background-color: rgb(214, 21, 21);
  border: 1px solid rgb(214, 21, 21);
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome { /* za tekstot vo welcome sho mi e da ne se shirit, ko ke e na 75% da ojt vo nov red */
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr { /* dodadov linija za poubav izgled*/
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.theweeknd {
  position: absolute;
  top: 50%;
  max-width: 100%;
  font-size: 100%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px rgb(116, 113, 113); 
}
.partymonster {
  width: 90px;
  border: solid 1px black;
}

.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram,
.fa-youtube{
  color: black;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-google-plus-g:hover {
  color: #dd4b39;
}
.fa-instagram:hover {
  color: rgb(190, 48, 126);
}
.fa-youtube:hover {
  color: #bb0000;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid rgb(247, 4, 4);
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: rgb(247, 4, 4);
}
hr.light-199 {
  border-top: 1px solid rgb(247, 4, 4);
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.arrow{
  font-style: italic;
  text-shadow: 1px 3px 4px rgb(247, 4, 4);
  color: #420b03;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display-4{
  text-shadow: 1px 1px 9px rgb(247, 4, 4);
  color: #420b03;
  font-style: inherit;
}
.SSSR {
  color: rgb(7, 0, 2);
  text-shadow: 4px 5px 9px rgb(143, 12, 110);
}
.SSSR h2{
  font-family: 'Josefin Sans', sans-serif;
}
.carousel-caption h2 {
  font-size: 200%;
  color: rgb(196, 99, 9);
  text-shadow: 4px 5px 1px rgb(3, 0, 2);
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
.carousel-caption {
    top: 45%;
  }
.carousel-caption h1 { 
    font-size: 350%;
  }
.carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}
.display-4 {
  font-size: 200%;
}
.social a {
  font-size: 2.5em;
  padding: 1.2rem;
}
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
.carousel-caption h1 { 
    font-size: 250%;
  }
.carousel-caption h3 {
    font-size: 110%;
  }
.carousel-caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators {
  display: none;
}
.display-4 {
  font-size: 160%;
}
.social a {
  font-size: 2em;
  padding: .7rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
 figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('received_.jpeg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
} 
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








